body {
    background-color: oldlace;
}
h1 {
    color: midnightblue;
    border: darkolivegreen;
    border-style: solid;
}
h2 {
    color: olivedrab;
}
form {
    color: midnightblue;
}
.center {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
}