body {
    background-color: oldlace;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: olivedrab;
}
form {
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;
}