#pink {
    font-family: 'Courier New', Courier, monospace;
    background-color: deeppink;
    color:white;
    width:130px;
    height:20px;
}
#red {
    font-family: 'Courier New', Courier, monospace;
    background-color: firebrick;
    color:white;
    width:130px;
    height:20px;
}
#blue {
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
    color:white;
    width:130px;
    height:20px;
}
input:hover {
    font-weight: bold;
}