#pink {
    font-family: 'Courier New', Courier, monospace;
    background-color: deeppink;
    color:white;
    width:130px;
    height:20px;
}
button {
    background-color:yellow;
  }
#red {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: firebrick;
    color:white;
    width:130px;
    height:20px;
}
#blue {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blue;
    color:white;
    width:130px;
    height:20px;
}
div:hover {
    font-weight: bold;
}