#pink {
    font-family: 'Courier New', Courier, monospace;
    background-color: deeppink;
    color:white;
    width:130px;
    height:20px;
}
#red {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: firebrick;
    color:white;
    width:130px;
    height:20px;
}
#blue {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
    color:white;
    width:130px;
    height:20px;
}
button:hover {
    font-weight: bold;
}