#pageOne {
    background-image: url(pianoBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#pageTwo {
    background-image: url(piano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#pageThree {
    background-image: url(violin.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#pageFour {
    background-image: url(violinMusic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.border {
    background-color: ivory;
    opacity: 0.7;
    border-style: solid;
    border-color: slategray;
    width: 420px;
    padding: 50px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.input {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
#submit {
    color: white;
    background-color: teal;
    margin-left: auto;
    margin-right: auto;
}
#button {
    color: white;
    background-color:purple;
    margin-left: auto;
    margin-right: auto;
}
#color {
    color: white;
    background-color: firebrick;
    margin-left: auto;
    margin-right: auto;
}
#color1 {
    color: white;
    background-color:purple;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    font-weight: bold;
    color: darkmagenta;
}
#error1 {
    color: red;
}
#error2 {
    color: red;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span {
    font-weight: bold;
    display:inline-block;
    margin-left: 40px; 
}
#alert {
    color: white;
    background-color: orangered;
    padding: 10px;
}