#page {
    background-image: url(pianoBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.border {
    background-color: ivory;
    opacity: 0.7;
    border-style: solid;
    border-color: slategray;
    height: 200px;
    width: 420px;
    padding: 50px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}
#longer {
    height: 950px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.input {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
#submit {
    color: white;
    background-color: teal;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    font-weight: bold;
}