div.pink {
    font-family: 'Courier New', Courier, monospace;
    color: deeppink;
}
div.red {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: firebrick
}
div.blue {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}
div:hover {
    font-weight: bold;
}